@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

.cal-sans-regular {
  font-family: "Cal Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@keyframes fadeInScale {
  from {
    opacity: 0;
    transform: scale(0.95) translateY(-10px);
  }
  to {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

@supports (backdrop-filter: none) {
  .frosted { backdrop-filter: blur(16px); }
}
@supports not (backdrop-filter: none) {
  .frosted { background-color: rgba(28,28,28,0.85); }
}

:root{
  scroll-padding-top: calc(6.25rem + env(safe-area-inset-top));
}

:root {
  --bg: #f7f7f8;
  --bg-hover: #dad9d9;

  --card: rgba(255,255,255,0.75);
  --card-solid: #ffffff;
  --border: #e4e4e7;

  --text: #111827;
  --muted: #4b5563;
  --muted-more: #6b7280;

  --accent: #00a8f1;

  --card-alpha: rgba(255,255,255,0.75);
}

html.dark {
  --bg: #000000;
  --bg-hover: #292929;

  --card: rgba(28,28,28,0.45);
  --card-solid: #1c1c1c;
  --border: #1c1c1c;

  --text: #ffffff;
  --muted: #9ca3af;
  --muted-more: #d1d5db;

  --accent: #00a8f1;

  --card-alpha: rgba(28,28,28,0.45);
}

html { background: var(--bg); color-scheme: light dark; }